
<!-- DELETE ACTIVITY CONFIRMATION MODAL -->
<div class="modal fade" tabindex="-1" id="delete-activity-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content theme-bg theme-border">
        <div class="modal-header theme-border">
            <h5 class="modal-title"><strong>Confirm Deletion</strong></h5>
            <button type="button" class="btn p-0 hover-dark no-shadow me-2 mt-1" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="left" title="Close Confirmation">
                <i class="fa fa-times fs-5"></i>
            </button>
        </div>
        <div class="modal-body">
            <p>Please confirm that you wish to delete this activity.</p>
        </div>
        <div class="modal-footer theme-border">
            <button type="button" class="btn btn-danger" id="confirm-delete-activity">Confirm</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>