<header class="mb-0">
    <div class="float-md-start pt-1">
        <img src="img/logo.png" class="img-fluid">
    </div>
    <nav class="nav float-md-end gap-3">

        <a class="hover-dark hover-secondary"  data-bs-toggle="tooltip" title="App Information" id="app-info-btn">
            <i class="fas fa-1x fa-fw fa-info-circle"></i><br><small><strong>GUIDE</strong></small>
        </a>
        <a class="hover-dark hover-secondary"  data-bs-toggle="tooltip" title="Settings" id="app-settings-btn">
            <i class="fas fa-1x fa-fw fa-cog"></i><br><small><strong>SETTINGS</strong></small>
        </a>
    </nav>
</header>