<header class="mb-0">
    <div class="float-md-start pt-1">
        <img src="img/logo.png" class="img-fluid">
    </div>
    <nav class="nav float-md-end gap-3">
        <a class="hover-dark hover-secondary" href="https://www.patreon.com/DekitaRPG"  data-bs-toggle="tooltip" title="Support Development on Patreon">
            <i class="fab fa-2x fa-fw fa-patreon"></i><br><small><strong>PATREON</strong></small>
        </a>
        <a class="hover-dark hover-secondary" href="https://github.com/dekita/discord-rpc-tool"  data-bs-toggle="tooltip" title="Project Github">
            <i class="fab fa-2x fa-fw fa-github"></i><br><small><strong>GITHUB</strong></small>
        </a>
        <a class="hover-dark hover-secondary" href="https://dekitarpg.com" data-bs-toggle="tooltip" title="Visit Developer Website">
            <i class="fas fa-2x fa-fw fa-globe"></i><br><small><strong>WEBSITE</strong></small>
        </a>
        <a class="hover-dark hover-secondary" href="https://discord.gg/7dCZ3Q4eU3"  data-bs-toggle="tooltip" title="Support Server">
            <i class="fab fa-2x fa-fw fa-discord"></i><br><small><strong>SUPPORT</strong></small>
        </a>
        <a class="hover-dark hover-secondary"  data-bs-toggle="tooltip" title="App Information" id="app-info-btn">
            <i class="fas fa-2x fa-fw fa-info-circle"></i><br><small><strong>GUIDE</strong></small>
        </a>
        <a class="hover-dark hover-secondary"  data-bs-toggle="tooltip" title="Settings" id="app-settings-btn">
            <i class="fas fa-2x fa-fw fa-cog"></i><br><small><strong>SETTINGS</strong></small>
        </a>
    </nav>
</header>