

:root {
	--dek-toast-text-color: var(--dek-modal-text-color);
  --dek-toast-body-color: var(--dek-modal-border-color);
	--dek-toast-border-color: var(--dek-modal-body-color);
} 

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .25);
}
#button-container {
  width:78px; 
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  border-radius: 9px;
}
.card-title {
  height: 48px; 
  background-color: var(--dek-card-header-color);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.card .btn {
  color: #e4e4e4 !important;
}
.btn, .form-control, .card, .img-thumbnail, .modal-body {
  transition: color 1s, background-color 1s, border-color 1s, box-shadow 0.5s, border-radius .5s;
}
.form-control.angry {
  border-color: #c1687b !important;
}
.modal-content {
  border-width: 4px;
  border-style: solid;
}
.btn-bg {
  border-radius: 100%;
  background-color: rgba(72,72,72,0.25);
  color: #e4e4e450;
}
.btn-bg:focus,
.btn-bg:hover,
.btn-bg:active,
.btn-bg.active {
  border-radius: 20%;
  background-color: var(--dek-secondary-darkest) !important;
  color: var(--dek-text-color);
}

.drag-border {
  border: 2px solid var(--dek-secondary-normal) !important;
  border-radius: 20% !important;
}
.opacify img {
  opacity: 0.0
}

.btn-grey {
  background-color: #4f545c;
}
.btn-grey:hover {
	background-color: #5d6269;
}
.modal-content,
.modal-header,
.modal-footer  {
  color: var(--dek-modal-text-color);
  background-color: var(--dek-modal-body-color);
  border-color: var(--dek-modal-border-color);
}

.list-group-dropdown {
  background-color: var(--dek-darker-3);
  /* border: 2px solid var(--dek-darker-4); */
}
.list-group-dropdown .list-group-item  {
  color: var(--dek-text-color);
  background-color: transparent;
  cursor: pointer;
}
.list-group-dropdown .list-group-item:hover {
  background-color: var(--dek-secondary-darker);
}

.list-group-item.active {
  background-color: var(--dek-secondary-darker) !important;
  border-color: transparent;
  opacity: 1.0;
}

.img-thumbnail {
  background-color: var(--dek-card-body-color);
  border: none;
}
.no-shadow {
	box-shadow: none;
}
.img-48 {
	height: 48px;	
}
.btn-58 {
  height: 58px;
  width: 58px;
}
.fix-w {
	max-width: 72px;
}
.tooltip {
  transition: opacity 1s;
}
.card {
  color: var(--dek-card-text-color);
  background-color: var(--dek-card-body-color);
  border-color: transparent;
  border: none;
  /* box-shadow: none; */
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: inherit;
}
.input-wrapper {
  height: 48px;
}
.modal-white {
  background-color: #e4e4e4;
  color: #18191c;
}
.small, small {
  font-size: .875em;
  line-height: 1.25em;
  text-overflow: ellipsis;  
  white-space: nowrap;
  overflow-x: hidden;
}
