<!-- Template ejs file for new pages/windows -->
<!-- trigger by called dekita_rpc.openChildWindow('template') -->
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column" style="overflow-y:auto;">
    I'm content!
</div>
