<div class="position-absolute d-none w-100 p-2"id="current-app-config-dropdown" style="z-index: 9;">
    <ul class="list-group list-group-dropdown">
        <li class="list-group-item d-flex hover-dark" id="btn-rename-activity">
            <div class="text-start w-100">
                <span>Rename Activity</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-sync-alt"></i>
            </div>
        </li>
        <li class="list-group-item d-flex hover-dark" id="btn-export-activity">
            <div class="text-start w-100">
                <span>Export Activity</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-external-link-square-alt"></i>
            </div>
        </li>
        <li class="list-group-item d-flex hover-dark" id="btn-delete-activity">
            <div class="text-start w-100">
                <span>Delete Activity</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-trash"></i>
            </div>
        </li>
    </ul>
</div>