<div class="position-absolute d-none w-100 p-2"id="current-app-config-dropdown" style="z-index: 9;">
    <ul class="list-group list-group-dropdown">
        <li class="list-group-item d-flex hover-dark" id="btn-sync-app-data">
            <div class="text-start w-100">
                <span>Sync App Data</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-sync-alt"></i>
            </div>
        </li>
        <li class="list-group-item d-flex hover-dark" id="btn-app-dev-portal">
            <div class="text-start w-100">
                <span>Developer Portal</span>
            </div>
            <div class="text-end">
                <i class="fab fa-fw fa-discord"></i>
            </div>
        </li>
        <li class="list-group-item d-flex hover-dark" id="btn-export-application">
            <div class="text-start w-100">
                <span>Export App Data</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-external-link-square-alt"></i>
            </div>
        </li>
        <li class="list-group-item d-flex hover-dark" id="btn-delete-application">
            <div class="text-start w-100">
                <span>Delete Application</span>
            </div>
            <div class="text-end">
                <i class="fas fa-fw fa-trash"></i>
            </div>
        </li>
    </ul>
</div>