<!-- NEW APPLICATION CONFIRMATION MODAL -->
<div class="modal fade" tabindex="-1" id="new-application-modal">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content theme-bg theme-border">
    <div class="modal-header  theme-border">
        <h5 class="modal-title"><strong>Add New Application</strong></h5>
        <button type="button" class="btn p-0 hover-dark no-shadow me-2 mt-1" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="left" title="Close">
            <i class="far fa-2x fa-fw fa-window-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 offset-3">
                <input type="text" class="form-control form-control-sm form-secondary" id="app-app-id" placeholder="Discord Application ID">
            </div>
        </div>
        <p class="px-2 mt-2 mb-0">
            You can find your application id on the Discord developer portal. 
            Dont know how? 
            <a class="hover-dark app-info-btn">
                <span>Click here to view the help guide!!</span>
            </a>  
        </p>
    </div>
    <div class="modal-footer theme-border">
        <button class="btn btn-secondary col developer-portal-btn">
            <span>Dev Portal</span>
        </button>      
        <button type="button" class="btn btn-danger col" data-bs-dismiss="modal">
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-success col" id="confirm-new-application-btn">
            <span>Confirm</span>
        </button>
    </div>
</div>
</div>
</div>
