<!-- STOP ACTIVITY CONFIRMATION MODAL -->
<div class="modal fade" tabindex="-1" id="edit-activity-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content theme-bg theme-border">
        <div class="modal-header  theme-border">
            <h5 class="modal-title" id="stop-activity-title"><strong>Caution</strong></h5>
            <button type="button" class="btn p-0 hover-dark no-shadow me-2 mt-1" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="left" title="Close Confirmation">
                <i class="far fa-2x fa-fw fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control form-control-sm form-secondary" id="app-activity-name" placeholder="Activity Name">

        </div>

    </div>
    </div>
</div>
