<nav class="nav float-md-end gap-3 px-3 pt-2 mt-1">
    <a class="hover-dark hover-secondary" href="https://www.patreon.com/DekitaRPG"  data-bs-toggle="tooltip" title="Support Development on Patreon">
        <i class="fab fa-2x fa-fw fa-patreon"></i>
    </a>
    <a class="hover-dark hover-secondary" href="https://github.com/dekita/discord-rpc-tool"  data-bs-toggle="tooltip" title="Project Github">
        <i class="fab fa-2x fa-fw fa-github"></i>
    </a>
    <a class="hover-dark hover-secondary" href="https://dekitarpg.com" data-bs-toggle="tooltip" title="Visit Developer Website">
        <i class="fas fa-2x fa-fw fa-globe"></i>
    </a>
    <a class="hover-dark hover-secondary" href="https://discord.gg/7dCZ3Q4eU3"  data-bs-toggle="tooltip" title="Support Server">
        <i class="fab fa-2x fa-fw fa-discord"></i>
    </a>
    <a class="hover-dark hover-secondary app-info-btn"  data-bs-toggle="tooltip" title="App Information">
        <i class="fas fa-2x fa-fw fa-info-circle"></i>
    </a>
    <a class="hover-dark hover-secondary"  data-bs-toggle="tooltip" title="Settings" id="app-settings-btn">
        <i class="fas fa-2x fa-fw fa-cog"></i>
    </a>
</nav>
