<div class="w-100 darker-bg3" style="height: 32px;">
    <div class="d-flex px-2 pt-1">
        <div class="col text-start" style="-webkit-user-select: none;-webkit-app-region: drag;">
            <small><strong>Discord RPC Tool v<%=version%> <%=title%></strong></small>
        </div>
        <div class="text-end">
            <button class="btn hover-dark p-0 px-2 me-1" id="btn-app-minimize">
                <i class="fas fa-fw fa-minus"></i>
            </button>
            <button class="btn hover-dark p-0 px-2" id="btn-app-maximize">
                <i class="far fa-fw fa-window-maximize"></i>
            </button>
            <button class="btn hover-dark p-0 px-2 pe-0" id="btn-app-exit">
                <i class="fas fa-fw fa-times"></i>
            </button>
        </div>
    </div>
</div>