<footer class="d-flex mt-auto mb-0 opacity-50">
    <div class="w-50 text-start">
        <i class="fas fa-fw fa-user-friends"></i>
        <small id="label-user-count">...</small>
        <small>Users Today</small>
    </div>
    <div class="w-50 text-end">
        <small class="m-0" data-bs-toggle="tooltip" title="Click to visit the developers website">
            <b><a href="https://dekitarpg.com/" class="hover-secondary">Created By @DekitaRPG</a></b>
        </small>
    </div>
</footer>